{% extends 'main.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
          {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-4 align-items-center">
  <div class="col">
    <strong class="fs-3">Mecânicos</strong>
  </div>
  <div class="col">
    <a href="{% url 'mecanicos_criar' %}" class="btn btn-primary float-end">
      Adicionar</a>
    </a>
  </div>
</div>

{% if mecanicos|length > 0 %}

<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Especialidade</th>
      <th scope="col">Rua</th>
      <th scope="col">Bairro</th>
      <th scope="col">nº</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for mecanico in mecanicos %}
    <tr>
      <td>{{ mecanico.pessoa.nome }}</td>
      <td>{{ mecanico.especialidade }}</td>
      <td>{{ mecanico.pessoa.endereco.rua }}</td>
      <td>{{ mecanico.pessoa.endereco.bairro }}</td>
      <td>{{ mecanico.pessoa.endereco.numero }}</td>
      <td scope="col">
        <div class="d-flex flex-row justify-content-end">

          <a href="{% url 'mecanicos_atualizar' mecanico.pk %}" class="nav-link link-primary me-3" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#pencil"/></svg>
          </a>

          <a href="{% url 'mecanicos_excluir' mecanico.pk %}" class="nav-link link-danger" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#delete"/></svg>
          </a>

        </div>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% else %}

Sem mecânicos cadastrados.

{% endif %}

<ul class="pagination justify-content-center mt-5">
  <li class="page-item {% if page_obj.has_previous %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {%endif %}" tabindex="-1" aria-disabled="true">Anterior</a>
  </li>
  <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
  <li class="page-item {% if page_obj.has_next %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {%endif %}">Próximo</a>
  </li>
</ul>

{% endblock content %}