{% extends 'main.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
          {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-4 align-items-center">
  <div class="col">
    <strong class="fs-3">Ordens de Serviço</strong>
  </div>
  <div class="col">
    <a href="{% url 'ordem_criar' %}" class="btn btn-primary float-end ms-3">
      Adicionar</a>
    </a>
    <a href="{% url 'ordem_pdf' %}" class="btn btn-secondary float-end ">
      Exportar relatório</a>
    </a>
  </div>
</div>

{% if ordens|length > 0 %}

{% for ordem in ordens %}
<table class="table table-hover mb-4">
  <thead class="table-light">
    <tr>

      <th scope="col">nº {{ ordem.id }} </th>
      <th scope="col">
        <div class="d-flex flex-row justify-content-end">

          <a href="{% url 'ordem_atualizar' ordem.pk %}" class="nav-link link-primary me-3" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#pencil"/></svg>
          </a>

          <a href="{% url 'ordem_excluir' ordem.pk %}" class="nav-link link-danger" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#delete"/></svg>
          </a>
        </div>
      </th>

    </tr>
  </thead>
  <tbody>
    {% for item in ordem.itens.all %}
      <tr>
        <td>{{ item.descricao }}</td>
        <td class="text-end">R$ {{ item.preco }}</td>
      </tr>
    {% endfor %}

  </tbody>
  <tfoot>
    <tr>
      <td>
        {{ ordem.veiculo.descricao }} entregue em {{ ordem.entrega|date:"d/m" }} para {{ ordem.veiculo.cliente.pessoa.nome }}
      </td>
      <td class="text-end fw-bold">R$ {{ ordem.total }}</td>
    </tr>
  </tfoot>
</table>
{% endfor %}

{% else %}

Sem ordens de serviço cadastradas.

{% endif %}

<ul class="pagination justify-content-center mt-5">
  <li class="page-item {% if page_obj.has_previous %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {%endif %}" tabindex="-1" aria-disabled="true">Anterior</a>
  </li>
  <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
  <li class="page-item {% if page_obj.has_next %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {%endif %}">Próximo</a>
  </li>
</ul>

{% endblock content %}