{% extends 'main.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
          {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-4 align-items-center">
  <div class="col">
    <strong class="fs-3">Ordens de Serviço</strong>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary float-end">Adicionar</button>
  </div>
</div>

{% if ordens|length > 0 %}

{% for ordem in ordens %}
<table class="table table-hover mb-4">
  <thead class="table-light">
    <tr>

      <th scope="col">nº {{ ordem.id }}</th>
      <th scope="col">{{ ordem.veiculo.descricao }} de {{ ordem.veiculo.cliente.pessoa.nome }}</th>
      <th scope="col">Preço</th>
      <th scope="col"></th>
      <th scope="col">
        <div class="d-flex flex-row justify-content-end">

          <a href="#" class="nav-link link-primary me-3" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#pencil"/></svg>
          </a>

          <a href="#" class="nav-link link-danger" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#delete"/></svg>
          </a>
        </div>
      </th>

    </tr>
  </thead>
  <tbody>
    {% for item in ordem.itens.all %}
      <tr>
        <td>{{ item.descricao }}</td>
        <td></td>
        <td>{{ item.preco }}</td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}

  </tbody>
  <tfoot class="table-light">
    <tr>
      <td>
        Emitida em {{ ordem.emitida }}
      </td>
      <td>Entregue em {{ ordem.entrega }}</td>
      <td>{{ ordem.total }}</td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
{% endfor %}

{% else %}

Sem ordens de serviço cadastradas.

{% endif %}

<ul class="pagination justify-content-center mt-5">
  <li class="page-item {% if page_obj.has_previous %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {%endif %}" tabindex="-1" aria-disabled="true">Anterior</a>
  </li>
  <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
  <li class="page-item {% if page_obj.has_next %} {% else %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {%endif %}">Próximo</a>
  </li>
</ul>

{% endblock content %}