{% extends 'main.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
          {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-4 align-items-center">
  <div class="col">
    <strong class="fs-3">Adicionar</strong>
  </div>
</div>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" name="nome" placeholder="Nome" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="telefone" placeholder="Telefone" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="cep" placeholder="CEP" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="rua" placeholder="Rua" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="bairro" placeholder="Bairro" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="numero" placeholder="Número" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="complemento" placeholder="Complemento" class="form-control">
    </div>

    <div class="mb-3">
        <input type="text" name="cidade" placeholder="Cidade" class="form-control">
    </div>

    <div class="mb-5">
        <input type="text" name="estado" placeholder="Estado" class="form-control">
    </div>

    <div class="col-auto mbr-section-btn align-center">
        <button type="submit" class="btn btn-primary display-4">Enviar</button>
    </div>

</form>

{% endblock content %}