{% extends 'main.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
          {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-4 align-items-center">
  <div class="col">
    <strong class="fs-3">Atualizar</strong>
  </div>
</div>


<form action="" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control" id="nome" value="{{ cliente.pessoa.nome }}">
        </div>
        <div class="col-md-6">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" name="telefone" class="form-control" id="telefone" value="{{ cliente.telefone }}">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="cep" class="form-label">CEP:</label>
            <input type="text" name="cep" class="form-control" id="cep" value="{{ cliente.pessoa.endereco.cep }}">
        </div>
        <div class="col-md-6">
            <label for="rua" class="form-label">Rua:</label>
            <input type="text" name="rua" class="form-control" id="rua" value="{{ cliente.pessoa.endereco.rua }}">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="bairro" class="form-label">Bairro:</label>
            <input type="text" name="bairro" class="form-control" id="bairro" value="{{ cliente.pessoa.endereco.bairro }}">
        </div>
        <div class="col-md-6">
            <label for="numero" class="form-label">Número:</label>
            <input type="text" name="numero" class="form-control" id="numero" value="{{ cliente.pessoa.endereco.numero }}">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="complemento" class="form-label">Complemento:</label>
            <input type="text" name="complemento" class="form-control" id="complemento" value="{{ cliente.pessoa.endereco.complemento }}">
        </div>
        <div class= "col-md-6">
            <label for= "cidade" class= "form-label">Cidade:</label>
            <input type= "text" name= "cidade"class= "form-control" id= "cidade" value="{{ cliente.pessoa.endereco.cidade }}">
        </div>
    </div>

    {{ form.estado.label_tag }}
    {{ form.estado }}
    {% if form.estado.errors %}
        <div class= "invalid-feedback">
            {% for error in form.estado.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary mt-4">Enviar</button>

</form>

{% endblock content %}